{% extends "templates/emails/layout/base.html" %}

{% block content %}

<tr>
    <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
        <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">
            <!-- Body content -->
            <tr>
                <td class="content-cell">
                    <h1>Hi, {{name}}!</h1>
                    <p>Those are our latest listings that matches your filter criteria for properties in {{places}}
                        within a maximum budget of {{maximum_budget}} cad</p>

                    <div class="cards">

                        {% for property in properties %}

                            <a href="{{property.link}}" class="card">
                                <img src="{{property.image_url}}" alt="Property image" style="width:100%">
                                <div class="container">
                                    <h4>{{property.title}}</h4>
                                    <p>{{property.rental_value}}</p>
                                </div>
                            </a>

                        {% endfor %}

                    </div>


                    <br>

                    <p>Thank you,
                        <br>Joao Paulo Furtado - CEO of RentalMoose</p>

                </td>
            </tr>
        </table>
    </td>
</tr>


{% endblock %}