{% extends "templates/emails/layout/base.html" %}

{% block content %}

<tr>
    <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
        <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">
            <!-- Body content -->
            <tr>
                <td class="content-cell">
                    <h1>A {{user_type_name}}({{user_name}}) viewed your application.</strong></h1>
                    <p>Hi {{tenant_name}}, we detected a visit on your profile on {{ date_time | date:"D d M Y"}} due to an application to <strong>{{property_name}}</strong>.
                        They're probably reviewing all applicants information, so make sure all of your data is updated on our system.

                    <p>Thanks,
                        <br>Joao Paulo Furtado - Founder of RentalMoose</p>

                </td>
            </tr>
        </table>
    </td>
</tr>

{% endblock %}