<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prerender</title>


    <meta property="fb:app_id" content="2011287532242493">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{property.description}}">
    <meta property="og:title" content="{{property.title}}">
    <meta property="og:url" content="https://www.therentalmoose.com/property/{{property.id}}">
    <meta property="og:image"
          content="https://www.therentalmoose.com:8000/static/images/properties/{{property.id}}/0.jpeg">
    <meta property="og:image:height" content="488">
    <meta property="og:image:width" content="931">

    <script>window.location.replace('https://www.therentalmoose.com/property/{{property.id}}');</script>

</head>
<body>


</body>
</html>