<!doctype html>
<html lang="en">
<head>

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{property.title}}">
    <meta property="og:description" content="{{property.description}}">
    <meta property="og:url" content="https://www.therentalmoose.com/property/{{property.id}}">
    <meta property="og:image"
          content="https://www.therentalmoose.com:8000/static/images/properties/{{property.id}}/0.jpeg">
    <meta property="fb:app_id" content="2011287532242493">

    <title>RentalMoose - Property</title>

</head>
<body>

</body>
</html>